@using System.Security.Claims;
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <meta name="description" content="" />
    <meta name="author" content="" />
    <title>Portal @ViewData["Title"]</title>

    <link href="https://cdn.jsdelivr.net/npm/simple-datatables@7.1.2/dist/style.min.css" rel="stylesheet" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.5/font/bootstrap-icons.css">
    

    <link href="~/css/sb-admin-2.css" rel="stylesheet" />
    <link href="~/theme/css/styles.css" rel="stylesheet" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/toastr.css" crossorigin="anonymous" referrerpolicy="no-referrer" />
    @RenderSection("css", false)
       
    
</head>
<body class="sb-nav-fixed">
    <nav class="sb-topnav navbar navbar-expand navbar-dark bg-dark">
        <!-- Navbar Brand-->
        <a class="navbar-brand ps-3" asp-action="Index" asp-controller="Home">Hastane Portal</a>
        <div id="notifications"></div>
        <!-- Sidebar Toggle-->
        <button class="btn btn-link btn-sm order-1 order-lg-0 me-4 me-lg-0" id="sidebarToggle" href="#!"><i class="fas fa-bars"></i></button>


        <a class="btn btn-outline-light" style="margin-left:10px;" asp-action="EducationList" asp-controller="Education">Eğitim Sayfasına Git</a>

        <!-- Navbar Search-->
        <form class="d-none d-md-inline-block form-inline ms-auto me-0 me-md-3 my-2 my-md-0" asp-action="TodoDetails" asp-controller="Home">

            <div class="input-group">
                <input class="form-control" name="Id" type="text" placeholder="Bildirim No Ara..." aria-label="Search for..." aria-describedby="btnNavbarSearch" id="theInput" />
                <button class="btn btn-primary" id="btnNavbarSearch" type="submit"><i class="fas fa-search"></i></button>

            </div>
        </form>
        <!-- Navbar-->

        @* kullanıcının oluşturduğu ticketlerin notifyleri *@
        <div class="dropdown show">
            <a class="nav-link dropdown-toggle text-white" id="messagesDropdown" role="button"
               data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                <i class="fa fa-bell" aria-hidden="true"></i><span id="messageCount" class="badge badge-danger badge-counter"></span>
                <!-- Counter - Messages -->
                
            </a>
            <div class="dropdown-list dropdown-menu dropdown-menu-right shadow animated--grow-in" style="margin-right:50px; margin-top:10px;"
                 aria-labelledby="messagesDropdown">
                <h6 class="dropdown-header">
                    Bildirim Merkezi
                </h6>
                @*mesajlar burada listeleniyor*@
                <div id="container">  </div>
                <a class="dropdown-item text-center small text-gray-500" asp-action="GetContacts" asp-controller="Panel">Daha Fazla Gör <i class="fa-solid fa-envelope-open-text"></i></a>
            </div>
        </div>

        @* kullanıcıya atanmış olan ticketlerin notifyleri *@
        <div class="dropdown show mx-2">
            <a class="nav-link dropdown-toggle text-white" id="messagesDropdownAssigned" role="button"
               data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                <i class="fa fa-envelope" aria-hidden="true"></i><span id="messageCountAssigned" class="badge badge-danger badge-counter"></span>
                <!-- Counter - Messages -->

            </a>
            <div class="dropdown-list dropdown-menu dropdown-menu-right shadow animated--grow-in" style="margin-right:50px; margin-top:10px;"
                 aria-labelledby="messagesDropdownAssigned">
                <h6 class="dropdown-header">
                    Bildirim Merkezi
                </h6>
                @*mesajlar burada listeleniyor*@
                <div id="container_assigned">  </div>
                <a class="dropdown-item text-center small text-gray-500" asp-action="GetContacts" asp-controller="Panel">Daha Fazla Gör <i class="fa-solid fa-envelope-open-text"></i></a>
            </div>
        </div>


        <div class="dropdown show">
            <a class="btn  dropdown-toggle" href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                <img class="" style="border-radius:50%; height:40px; width:40px; object-fit:cover; border:3px solid green; right:10px; margin-right:5px;" src="@User.FindFirstValue("ImagePath")" /><strong class="fw-bold text-white"> @User.FindFirstValue("UserFirstLastName") <i class="fa-solid fa-chevron-down mx-1"></i> </strong>
            </a>
            <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
                <a class="dropdown-item" asp-action="GetUserInfo" asp-controller="Account" asp-route-Id="@User.FindFirstValue("userId")"><i class="fa-solid fa-gears mx-2"></i>Kullanıcı Ayarları</a>
                <a class="dropdown-item" href="#!"><i class="fa-solid fa-clock-rotate-left mx-2"></i>Hareket Geçmişi</a>
                <hr class="dropdown-divider" />
                <a class="dropdown-item" asp-action="LogOut" asp-controller="Account"><i class="fa-solid fa-right-from-bracket mx-2"></i>Logout</a>
            </div>
        </div>
    </nav>
    <div id="layoutSidenav">
        <div id="layoutSidenav_nav">
            <nav class="sb-sidenav accordion sb-sidenav-dark" id="sidenavAccordion">
                <div class="sb-sidenav-menu">
                    <div class="nav">
                        <div class="sb-sidenav-menu-heading"><i class="fa-solid fa-signal fa-xl" style="margin-right:5px;"></i>Kontrol Panelİ</div>
                        <a class="nav-link" asp-action="Index" asp-controller="Home">
                            <div class="sb-nav-link-icon"><i class="fas fa-tachometer-alt"></i></div>
                            Dashboard
                        </a>
                        <a class="nav-link" asp-action="Create" asp-controller="Home">
                            <div class="sb-nav-link-icon"><i class="fa-solid fa-pen"></i></div>
                            Yeni Bildirim Ekle
                        </a>
                        @if (!User.IsInRole("Standart"))
                        {
                            <div class="sb-sidenav-menu-heading"><i class="fa-solid fa-bars-progress fa-xl" style="margin-right:5px;"></i>YÖNETİM</div>
                            <a class="nav-link collapsed" href="#" data-bs-toggle="collapse" data-bs-target="#userNav" aria-expanded="false" aria-controls="collapseLayouts">
                                <div class="sb-nav-link-icon"><i class="fa-solid fa-users"></i></div>
                                Kullanıcı Yönetimi
                                <div class="sb-sidenav-collapse-arrow"><i class="fas fa-angle-down"></i></div>
                            </a>

                            <div class="collapse multi-collapse" id="userNav" aria-labelledby="headingOne" data-bs-parent="#sidenavAccordion">
                                <nav class="sb-sidenav-menu-nested nav">
                                    <a class="nav-link" asp-action="GetUserList" asp-controller="Account"><i class="fa-solid fa-list mx-2"></i> Kullanıcı Listesi</a>
                                    <a class="nav-link @if (!User.IsInRole("Admin")){
                                <text>disabled</text>
}" asp-action="Register" asp-controller="Account"><i class="fa-solid fa-user-plus mx-2"></i>Kullanıcı Oluştur</a>
                                </nav>
                            </div>
                        }

                        @if (User.IsInRole("Egitim") || User.IsInRole("Admin"))
                        {
                            <a class="nav-link collapsed" href="#" data-bs-toggle="collapse" data-bs-target="#collapseLayouts" aria-expanded="false" aria-controls="sidenavAccordion">
                                <div class="sb-nav-link-icon"><i class="fa-solid fa-graduation-cap fa-lg"></i></div>
                                Eğitim Yönetimi
                                <div class="sb-sidenav-collapse-arrow"><i class="fas fa-angle-down"></i></div>
                            </a>
                            <div class="collapse" id="collapseLayouts" aria-labelledby="sidenavAccordion" data-bs-parent="#sidenavAccordion">
                                <nav class="sb-sidenav-menu-nested nav">
                                    <a class="nav-link" asp-action="Create" asp-controller="Education"><i class="fa-solid fa-folder-plus" style="margin-right:5px;"></i>Eğitim Ekle</a>
                                    <a class="nav-link" asp-action="Index" asp-controller="Education"><i class="fa-solid fa-bars-staggered" style="margin-right:5px;"></i>Eğitim Listesi</a>
                                    <a class="nav-link" asp-action="Index" asp-controller="EducationCategory"><i class="fa-solid fa-layer-group" style="margin-right:5px;"></i>Eğitim Kategorisi</a>
                                </nav>
                            </div>
                        }

                        @if (User.IsInRole("Admin"))
                        {
                            <div class="sb-sidenav-menu-heading"><i class="fa-solid fa-screwdriver-wrench fa-xl" style="margin-right:5px;"></i>Program Ayarları</div>
                            <a class="nav-link" href="#">
                                <div class="sb-nav-link-icon"><i class="fa-solid fa-gear"></i></div>
                                Mail Smtp Ayarları
                            </a>
                        }
                    </div>
                </div>
                <div class="sb-sidenav-footer">
                    <div class="small mb-2">
                        Aktif Kullanıcı <br /><strong class="text-white" style="font-size:14px;"> @User.FindFirstValue("UserFirstLastName")</strong><hr />
                        <strong class="text-white" style="font-size:12px;">@User.FindFirstValue("departmentName")</strong>
                    </div>

                </div>
            </nav>
        </div>

        <div id="layoutSidenav_content">
            <main>
                <div class="container-fluid px-4">
                </div>
                <div class="container-fluid px-4">
                    <h1 class="mt-4">Dashboard</h1>
                    <ol class="breadcrumb mb-4">
                        <li class="breadcrumb-item active">Dashboard</li>
                    </ol>
                    @if (!User.IsInRole("Standart"))
                    {
                        <div class="row">
                            <div class="col-xl-3 col-md-6">
                                <div class="card bg-primary text-white mb-4">
                                    <div class="card-body">
                                        <i class="fa-solid fa-rss fa-beat-fade fa-lg"></i> Yeni Açılan Bildirimler <br />
                                        <strong class="text-lead">(<workCount user-id="@User.FindFirstValue("userId")" status-id="1"></workCount>)</strong> Adet
                                    </div>
                                    <div class="card-footer d-flex align-items-center justify-content-between bg-primary">
                                        <a class="small text-white stretched-link" asp-action="FilterList" asp-controller="Home" asp-route-Id="1">Detaya Git</a>
                                        <div class="small text-white"><i class="fas fa-angle-right"></i></div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-xl-3 col-md-6">
                                <div class="card bg-warning text-white mb-4">
                                    <div class="card-body">
                                        <i class="fa-solid fa-glasses fa-lg"></i> İncelenen Bildirimler <br />
                                        <strong class="text-lead">(<workCount user-id="@User.FindFirstValue("userId")" status-id="2"></workCount>)</strong> Adet
                                    </div>
                                    <div class="card-footer d-flex align-items-center justify-content-between bg-warning">
                                        <a class="small text-white stretched-link" asp-action="FilterList" asp-controller="Home" asp-route-Id="2">Detaya Git</a>
                                        <div class="small text-white"><i class="fas fa-angle-right"></i></div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-xl-3 col-md-6">
                                <div class="card bg-success text-white mb-4">
                                    <div class="card-body">
                                        <i class="fa-solid fa-check-double fa-lg"></i> Çözümlenen Bildirimler <br />
                                        <strong class="text-lead">(<workCount user-id="@User.FindFirstValue("userId")" status-id="3"></workCount>)</strong> Adet
                                    </div>
                                    <div class="card-footer d-flex align-items-center justify-content-between bg-success">
                                        <a class="small text-white stretched-link " asp-action="FilterList" asp-controller="Home" asp-route-Id="3">Detaya Git</a>
                                        <div class="small text-white"><i class="fas fa-angle-right"></i></div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-xl-3 col-md-6">
                                <div class="card bg-danger text-white mb-4">
                                    <div class="card-body">
                                        <i class="fa-solid fa-ban fa-lg"></i> Reddedilen Bildirimler <br />
                                        <strong class="text-lead">(<workCount user-id="@User.FindFirstValue("userId")" status-id="4"></workCount>)</strong> Adet
                                    </div>
                                    <div class="card-footer d-flex align-items-center justify-content-between bg-danger">
                                        <a class="small text-white stretched-link" asp-action="FilterList" asp-controller="Home" asp-route-id="4">Detaya Git</a>
                                        <div class="small text-white"><i class="fas fa-angle-right"></i></div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-xl-3 col-md-6">
                                <div class="card  text-white mb-4" style="background-color:#9d53c3">
                                    <div class="card-body">
                                        Havuzdaki Bildirimler <br />
                                        <strong class="text-lead">(<AllWorkForDepartment User-Id="@User.FindFirstValue("userId")"></AllWorkForDepartment>)</strong> Adet
                                    </div>
                                    <div class="card-footer d-flex align-items-center justify-content-between style=" style="background-color:#9d53c3">
                                        <a class="small text-white stretched-link" asp-action="InPoolJobs" asp-controller="Home">Detaya Git</a>
                                        <div class="small text-white"><i class="fas fa-angle-right"></i></div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-xl-3 col-md-6">
                                <div class="card  text-white mb-4" style="background-color:#9D5C0D">
                                    <div class="card-body">
                                        Benim Bildirdiklerim <br />
                                        <strong class="text-lead">(<MyCreationsJobs user-id="@User.FindFirstValue("userId")"></MyCreationsJobs>)</strong> Adet
                                    </div>
                                    <div class="card-footer d-flex align-items-center justify-content-between" style="background-color:#9D5C0D">
                                        <a class="small text-white stretched-link" asp-action="MyCreationsJobs" asp-controller="Home">Detaya Git</a>
                                        <div class="small text-white"><i class="fas fa-angle-right"></i></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    }
                    else  
                    {
                        <div class="row">
                            <div class="col-xl-3 col-md-6">
                                <div class="card text-white mb-4" style="background:#2f89b3;">
                                    <div class="card-body">
                                        Yeni Bildirimlerim<br />
                                        <strong class="text-lead">(<userWorksFilter user-id="@User.FindFirstValue("userId")" status-id="1"></userWorksFilter>)</strong> Adet
                                    </div>
                                    <div class="card-footer d-flex align-items-center justify-content-between" style="background:#2f89b3;">
                                        <a class="small text-white stretched-link" asp-action="WorkListFilter" asp-controller="Home" asp-route-Id="1">Detaya Git</a>
                                        <div class="small text-white"><i class="fas fa-angle-right"></i></div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-xl-3 col-md-6">
                                <div class="card  text-white mb-4" style="background:#ffaa64;">
                                    <div class="card-body">
                                        İncelenen Bildirimlerim <br />
                                        <strong class="text-lead">(<userWorksFilter user-id="@User.FindFirstValue("userId")" status-id="2"></userWorksFilter>)</strong> Adet
                                    </div>
                                    <div class="card-footer d-flex align-items-center justify-content-between" style="background:#ffaa64;">
                                        <a class="small text-white stretched-link" asp-action="WorkListFilter" asp-controller="Home" asp-route-Id="2">Detaya Git</a>
                                        <div class="small text-white"><i class="fas fa-angle-right"></i></div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-xl-3 col-md-6">
                                <div class="card text-white mb-4" style="background:#388e3c;">
                                    <div class="card-body">
                                        Çözümlenen Bildirimlerim <br />
                                        <strong class="text-lead">(<userWorksFilter user-id="@User.FindFirstValue("userId")" status-id="3"></userWorksFilter>)</strong> Adet
                                    </div>
                                    <div class="card-footer d-flex align-items-center justify-content-between" style="background:#388e3c;">
                                        <a class="small text-white stretched-link " asp-action="WorkListFilter" asp-controller="Home" asp-route-Id="3">Detaya Git</a>
                                        <div class="small text-white"><i class="fas fa-angle-right"></i></div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-xl-3 col-md-6">
                                <div class="card text-white mb-4" style="background:#900d0d;">
                                    <div class="card-body">
                                        Reddedilen Bildirimlerim <br />
                                        <strong class="text-lead">(<userWorksFilter user-id="@User.FindFirstValue("userId")" status-id="4"></userWorksFilter>)</strong> Adet
                                    </div>
                                    <div class="card-footer d-flex align-items-center justify-content-between" style="background:#900d0d;">
                                        <a class="small text-white stretched-link" asp-action="WorkListFilter" asp-controller="Home" asp-route-id="4">Detaya Git</a>
                                        <div class="small text-white"><i class="fas fa-angle-right"></i></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    }

                </div>
            </main>
            @RenderBody()
            <footer class="py-4 bg-light mt-auto">
                <div class="container-fluid px-4">
                    <div class="d-flex align-items-center justify-content-between small">
                        <div class="text-muted">Copyright &copy; Poseidon BT @DateTime.Now.Year</div>
                        <div>
                            <a href="#">Privacy Policy</a>
                            &middot;
                            <a href="#">Terms &amp; Conditions</a>
                        </div>
                    </div>
                </div>
            </footer>
        </div>
    </div>

    <script src="https://code.jquery.com/jquery-3.6.0.js" integrity="sha256-H+K7U5CnXl1h5ywQfKtSj8PCmoN9aaq30gDh27Xc0jk=" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.8.0/Chart.min.js" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/simple-datatables@7.1.2/dist/umd/simple-datatables.min.js" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.14.3/dist/umd/popper.min.js" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.1.3/dist/js/bootstrap.min.js" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/toastr.min.js" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <script src="https://use.fontawesome.com/releases/v6.3.0/js/all.js" crossorigin="anonymous"></script>


    <script src="~/microsoft/signalr/dist/browser/signalr.js"></script>
    <script src="~/microsoft/signalr/dist/browser/signalr.min.js"></script>
    <script src="~/js/signalR.js"></script>
    <script src="~/theme/js/scripts.js"></script>
    <script src="~/js/Config.js"></script>
    <script src="~/js/notifyService.js"></script>
    <script src="~/js/notifyUseView.js"></script>
    @await Component.InvokeAsync("Notyf")
    @RenderSection("script", false)
    
</body>
</html>
