@model AppUserCreateModel
@{
    ViewData["Title"] = "- Yeni Kullanıcı";
}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <meta name="description" content="" />
    <meta name="author" content="" />
    <title>Portal - Register</title>
    <link href="css/styles.css" rel="stylesheet" />
    <script src="https://use.fontawesome.com/releases/v6.3.0/js/all.js" crossorigin="anonymous"></script>
</head>
<body class="bg-primary" style="background-color:#fdffcd">
    <div id="layoutAuthentication">
        <div id="layoutAuthentication_content">
            <main>
                <div class="container">
                    <div class="row justify-content-center">
                        <div class="col-lg-7">
                            <div class="card shadow-lg border-0 rounded-lg mt-5 " style="background-color:#e0ffcd">
                                <div class="card-header"><h3 class="text-center font-weight-light my-4">Kullanıcı Oluştur</h3></div>
                                <div class="card-body">
                                    <form asp-action="Register" asp-controller="Account" class="form mb-3">
                                        <div class="row mb-3">
                                            <div class="col-md-6">
                                                <div class="form-floating mb-3 mb-md-0">
                                                    <input class="form-control" asp-for=@Model.AppUserCreateDto.FirstName type="text" placeholder="Ad" />
                                                    <label asp-for="@Model.AppUserCreateDto.FirstName">Ad </label>
                                                    <span class="text-danger" asp-validation-for="@Model.AppUserCreateDto.FirstName"></span>
                                                </div>

                                            </div>
                                            <div class="col-md-6">
                                                <div class="form-floating">
                                                    <input class="form-control" asp-for=@Model.AppUserCreateDto.LastName type="text" placeholder="Soyad" />
                                                    <label asp-for="@Model.AppUserCreateDto.LastName">Soyad</label>
                                                </div>
                                                <span class="text-danger" asp-validation-for="@Model.AppUserCreateDto.LastName"></span>
                                            </div>
                                        </div>
                                        <div class="row mb-3 ">
                                            <div class=" col-md-6">
                                                <div class="form-floating mb-3 mb-md-0">
                                                    <input class="form-control" asp-for=@Model.AppUserCreateDto.Email type="email" placeholder="name@example.com" />
                                                    <label asp-for="@Model.AppUserCreateDto.Email">Email Adresi</label>
                                                    <span class="text-danger" asp-validation-for="@Model.AppUserCreateDto.Email"></span>
                                                </div>
                                            </div>
                                            <div class=" col-md-6">
                                                <div class="form-floating mb-3 mb-md-0">
                                                    <input class="form-control" asp-for=@Model.AppUserCreateDto.UserName type="text" placeholder="Kullanıcı Adı" />
                                                    <label asp-for="@Model.AppUserCreateDto.UserName">Kullanıcı Adı</label>
                                                    <span class="text-danger" asp-validation-for="@Model.AppUserCreateDto.UserName"></span>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="row mb-3">
                                            <div class="col-md-6">
                                                <div class="form-floating mb-3 mb-md-0">
                                                    <input class="form-control" asp-for=@Model.AppUserCreateDto.Password type="password" placeholder="Şifre" />
                                                    <label asp-for="@Model.AppUserCreateDto.Password">Şifre</label>
                                                    <span class="text-danger" asp-validation-for="@Model.AppUserCreateDto.Password"></span>
                                                </div>
                                            </div>
                                            <div class="col-md-6">
                                                <div class="form-floating mb-3 mb-md-0">
                                                    <input class="form-control" asp-for=@Model.AppUserCreateDto.ConfirmPassword type="password" placeholder="Şifre Tekrar" />
                                                    <label asp-for="@Model.AppUserCreateDto.ConfirmPassword">Şifre Tekrar</label>
                                                    <span class="text-danger" asp-validation-for="@Model.AppUserCreateDto.ConfirmPassword"></span>
                                                </div>
                                            </div>
                                            <div class="col-md-6">
                                                <div class="form-floating mb-3 mb-md-0 mt-2">
                                                    <input class="form-control" asp-for=@Model.AppUserCreateDto.ExtensionNo type="text" placeholder="Dahili No" />
                                                    <label asp-for="@Model.AppUserCreateDto.ExtensionNo">Dahili No</label>
                                                    <span class="text-danger" asp-validation-for="@Model.AppUserCreateDto.ExtensionNo"></span>
                                                </div>
                                            </div>
                                            <div class="row mb-3">
                                            <div class="col-md-6">
                                                <div class="mb-3 mb-md-0">
                                                    <label class="mt-2 mb-1 fw-bold" asp-for="@Model.AppUserCreateDto.DepartmentId">Çalıştığı Birim</label>
                                                    <select asp-for="@Model.AppUserCreateDto.DepartmentId" asp-items="@Model.DepartmentList" class="form-select"></select>
                                                </div>
                                            </div>
                                            <div class="col-md-6">
                                                <div class="mb-3 mb-md-0">
                                                    <label class="mt-2 mb-1 fw-bold" asp-for="@Model.AppUserCreateDto.RoleId">Kullanıcı Rolü</label>
                                                    <select asp-for="@Model.AppUserCreateDto.RoleId" asp-items="@Model.RoleList" class="form-select"></select>
                                                </div>
                                            </div>
                                            </div>
                                        </div>
                                        <div class="mt-4 mb-0">
                                            <div class="d-grid"><button class="btn btn-primary btn-block" type="submit" asp-action="Register" asp-controller="Account">Kullanıcı Oluştur</button></div>
                                        </div>
                                    </form>
                                    <div class="text-danger mt-2" asp-validation-summary="All"></div>
                                </div>
                                <div class="card-footer text-center py-3">
                                    <div class="small"><a href="#">Kullanıcız Yoksa Bilgi İşlem İle İletişime Geçiniz</a></div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </main>
        </div>
        <div id="layoutAuthentication_footer">
            <footer class="py-4 bg-light mt-auto">
                <div class="container-fluid px-4">
                    <div class="d-flex align-items-center justify-content-between small">
                        <div class="text-muted">Copyright &copy; Your Website 2023</div>
                        <div>
                            <a href="#">Privacy Policy</a>
                            &middot;
                            <a href="#">Terms &amp; Conditions</a>
                        </div>
                    </div>
                </div>
            </footer>
        </div>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js" crossorigin="anonymous"></script>
    <script src="js/scripts.js"></script>
</body>
</html>
